extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | LocalBites was created to help people find places to eat close to them.
      p
        | At LocalBites, we understand that finding the right place to eat can be a challenge. That’s why we’ve made it our mission to connect you with amazing dining options right in your neighborhood. Whether you’re craving a quick bite, a cozy dinner, or a spot to share with friends, we’ve got you covered.
      p
        | Our platform is designed to make discovering new restaurants easy and enjoyable. With genuine reviews and recommendations from fellow food lovers, you’ll have all the information you need to choose your next meal. We believe that every meal should be a delightful experience, and we're here to help you find just that.
      p
        | Join us at LocalBites and explore the culinary gems around you. Let's make every meal memorable together!
